<h2>登録情報を編集</h2>
<%= form_with model: @user, local:true do |f| %>

<p>氏名</p>
<%= f.text_field :name, autofocus: true %>

<td>住所</td>
<%#= f.text_field :prefecture, autofocus: true %>

<td>電話番号</td>
<%= f.text_field :phone_number, autofocus: true %>

<td>メールアドレス</td>
<%= f.text_field :email, autofocus: true %>

<%= f.submit "編集内容を保存",class: "btn btn-success" %>
<%= link_to "退会する",withdraw_users_path,class: "btn btn-danger" %>
<% end %>
