<h2>登録情報を編集</h2>
<%= form_with model: @theater, local:true do |f| %>

<p>劇場</p>
<%= f.text_field :name, autofocus: true %>

<p>説明</p>
<%= f.text_field :introduction, autofocus: true %>

<td>住所</td>
<%= f.text_field :address, autofocus: true %>

<p>アクセス</p>
<%= f.text_field :access, autofocus: true %>

<p>駐車場</p>
<%= f.text_field :parking, autofocus: true %>

<td>電話番号</td>
<%= f.text_field :phone_number, autofocus: true %>

<td>url</td>
<%= f.text_field :url, autofocus: true %>

<td>商品画像</td>

<%= f.attachment_field :image %>

<%= f.submit "編集内容を保存",class: "btn btn-success" %>
<% end %>