<div class="container container-m">
 <div class="card w-200 mx-auto mt-4 shadow-lg">
  <div class="card-body">
   <div class="row">
    <div class="col-12">
     <h2 class="card-title">劇場投稿</h2>
      <table class="table">
       <tbody>
        <%= form_with model:[:admin,@theater], method: :post, local:true do |f| %>
          <tr>
            <th scope="col-2">劇場名</th>
            <td>
            <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <th scope="col-2">説明</th>
            <td><%= f.text_field :introduction, class:"form-control" %></td>
         </tr>
         <tr>
          <th scope="col-2">都道府県</th>
          <td><%= f.select :prefecture, Theater.prefectures.keys, {} %></td>
         </tr>
         <tr>
          <th scope="col-2">住所</th>
          <td><%= f.text_field :address %></td>
         </tr>
         <tr>
          <th scope="col-2">アクセス</th>
          <td><%= f.text_field :access %></td>
         </tr>
         <tr>
          <th scope="col-2">駐車場</th>
          <td><%= f.text_field :parking %></td>
         </tr>
         <tr>
          <th scope="col-2">電話番号</th>
          <td><%= f.text_field :phone_number %></td>
         </tr>
         <tr>
          <th scope="col-2">ホームページ</th>
          <td><%= f.text_field :url %></td>
         </tr>
         <tr>
          <th scope="col-2">施設写真</th>
          <td><%= f.attachment_field :image %></td>
         </tr>
         <tr>
          <td><%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right" %></td>
         </tr>
         <% end %>
        </tbody>
      </table>
    </div>
   </div>
  </div>
 </div>
</div>