<header class="navbar navbar-fixed-top navbar-inverse" style="background:#D9E5FF;">
  <% if admin_signed_in? %><!-- 管理者がログインしている時 -->
    <h2>
      <%= link_to "Cineme Village", admin_theater_path, class:"text-dark" %>
    </h2>
  <% else %> <!--カスタマーがログインしている時 -->
    <h2>
      <%= link_to "Cinema Village", "/", class:"text-dark" %>
    </h2>
  <% end %>
  
  <nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <% if user_signed_in? %> <!--カスタマーがログインしている時 -->
        <li class="header-name">
          ようこそ、<%= current_user.name %>さん！
        </li>
        <li>ユーザー</li>
        <li><%= link_to "マイページ", destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "劇場一覧", destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "マガジン", destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
      
        <li>管理者</li>
        <li><%= link_to "劇場一覧", destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "マガジン", destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li>ゲストユーザー</li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
      
    </ul>
    </nav>
    </button>
  </nav>
</header>