<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">


    <h2> <i class="fas fa-film"></i>
      <%= link_to "Cinema Village", "/", class:"text-dark" %>
    </h2>

    <ul class="nav mx-3">
      <% if user_signed_in? %> <!--カスタマーがログインしている時 -->
        <li>
          ようこそ、<%= current_user.name %>さん！
        </li>
        <li><%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-primary" %></li>
        <li><%= link_to "劇場一覧", theaters_path, class: "btn btn-outline-primary" %></li>
        <li><%#= link_to "マガジン", magazine_path, class: "btn btn-outline-primary" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %></li>
      <% elsif admin_signed_in? %>

        <li><%= link_to "劇場一覧", admin_theaters_path, class: "btn btn-outline-primary" %></li>
        <li><%= link_to "マガジン", admin_magazines_path, class: "btn btn-outline-primary" %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-primary" %></li>
      <% else %>
        <li>ゲストユーザー</li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary" %></li>
        <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %></li>
      <% end %>

    </ul>

  </div>
  </nav>
</header>